<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/history.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/history.js"></script>
</head>

<body>

    <div class="grad1">
        <br></br>

        <h1>History Route</h1>

        <div class="container" style=" width: 1280px; height: 100%">
            <table id="table" class="display" cellspacing="0" style="width:100%; text-align: center">
                <thead>
                    <tr>
                        <th style="width: 10% ">Duration</th>
                        <th style="width: 10% ">Distance</th>
                        <th style="width: 15% ">Date</th>
                        <th style="width: 50%; text-align: center">Route</th>
                        <!-- <th style="width: 10% "></th> -->
                    </tr>
                </thead>
            </table>
            <br></br><br></br><br></br><br></br>
            <br></br><br></br><br></br><br></br>
            <br></br><br></br><br></br><br></br>
            <br></br><br></br><br></br>
        </div>

    </div>

</body>

</html>