<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Home Page</title>
    </head>
    <body>
        <div class="homepage">
            <div class = "top_btn">
                <button class="btn account" onclick="showAccountPage()">Account</button>
                <button class="btn logout" onclick="logout()">Log out</a></button>
            </div>
            <div class = "map_history">
                <button class="map_btn map" onclick="showMap()">Map</button>
                <button class="map_btn" onclick="showHistoryPage()">History</button>
            </div>
        </div>
        <script src="js/home.js" defer></script>
    </body>

</html>